#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
/* .todo__gp {
    display: flex;
    justify-content: center;
    gap: 10px;
} */
.todo__title {
    display: inline-block;
    margin-right: 10px;
}
.post__card {
    border: 1px solid white;
    margin: 2rem;
    border-radius: 10px;
}
.form_container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 1rem;
    gap: 10px;
}
.form_container input,
.form_container select {
    width: 50%;
    padding: 10px 20px;
    margin: auto;
}
.form_container button {
    width: 40%;
    margin: auto;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}
